abstract-rendering==0.5.1
alabaster==0.7.11
anaconda-client==1.6.14
anaconda-navigator==1.8.4
anaconda-project==0.8.2
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.9.4
asn1crypto==0.24.0
astropy==3.0.3
astroquery==0.3.0
atomicwrites==1.1.5
attrs==18.1.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.weakref==1.0rc1
beautifulsoup4==4.6.1
bitarray==0.8.3
blaze==0.11.3
bleach==2.1.3
bokeh==0.13.0
boto==2.49.0
Bottleneck==1.2.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
chest==0.2.3
click==6.7
cloudpickle==0.5.3
clyent==1.2.2
colorama==0.3.9
conda==4.5.9
conda-build==3.12.0
conda-manager==0.4.0
conda-verify==3.1.0
configobj==5.0.6
constantly==15.1.0
cycler==0.10.0
Cython==0.28.4
cytoolz==0.9.0.1
dask==0.18.2
datashape==0.5.4
decorator==4.3.0
dict==0.0.5
dill==0.2.8.2
distributed==1.22.0
docutils==0.14
dynd==0.7.3.dev1
entrypoints==0.2.3
et-xmlfile==1.0.1
-e git+https://github.com/ahwkuepper/etfs.git@2d7cff509e5ac68479f6fc5a2cd3e3f4715df4d6#egg=etfs
fastcache==1.0.2
filelock==3.0.4
Flask==1.0.2
Flask-Cors==3.0.6
future==0.16.0
get==0.0.7
gevent==1.3.5
glob2==0.6
gmpy2==2.0.8
greenlet==0.4.14
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
imageio==2.3.0
imagesize==1.0.0
imbalanced-learn==0.1.1
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.3.1
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==1.2.2
keyring==5.7.1
kiwisolver==1.0.1
licensetool==0.1
llvmlite==0.23.2+1.g67a89c7
locket==0.2.0
lxml==4.2.3
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mlxtend==0.4.1
more-itertools==4.2.0
mpmath==1.0.0
msgpack-python==0.5.6
multipledispatch==0.5.0
natsort==5.0.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.38.1+1.gc42707d0f.dirty
numexpr==2.6.5
numpy==1.12.1
oauthlib==1.0.3
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.4
packaging==17.1
pandas==0.23.3
pandas-market-calendars==0.19
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
path.py==11.0.1
patsy==0.5.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
pkginfo==1.4.2
plotly==2.1.0
pluggy==0.6.0
ply==3.11
post==0.0.5
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.2.0
psutil==5.4.6
psycopg2==2.7.5
ptyprocess==0.6.0
public==0.0.0
PuLP==1.6.8
py==1.5.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycosat==0.6.3
pycparser==2.18
pycurl==7.43.0.2
pyflakes==2.0.0
Pygments==2.2.0
PyMySQL==0.7.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
pytest==3.6.4
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==3.13
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.2
query-string==0.0.5
redis==2.10.6
requests==2.19.1
requests-oauthlib==0.6.1
ruamel-yaml==0.15.46
schedule==0.4.2
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
self==0.0.5
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
sortedcontainers==2.0.4
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.10
SQLAlchemy-Utils==0.32.6
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
tblib==1.3.2
tensorflow==1.2.1
terminado==0.8.1
testpath==0.3.1
Theano==0.9.0rc1
toml==0.9.2
toolz==0.9.0
tornado==5.0.2
traitlets==4.3.2
Twisted==17.5.0
typing==3.6.4
ujson==1.35
unicodecsv==0.14.1
urllib3==1.23
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.3.1
xlrd==1.1.0
XlsxWriter==1.0.5
xlwings==0.11.8
xlwt==1.2.0
yahoo-finance==1.4.0
zict==0.1.3
zope.interface==4.5.0
